# Virtual environments
staylinkenv/
aivenv/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Django
db.sqlite3
media/
staticfiles/
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Env files
staylinkproject/.env
ai_service/.env

# AI / Chroma
ai_service/chroma_db/

# Docker/cache
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db