SECRET_KEY=your-secret-key-here
DEBUG=True
DB_NAME=StayLinkDB
DB_USER=postgres
DB_PASSWORD=your-password
DB_HOST=postgres
DB_PORT=5432
REDIS_HOST=redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
GOOGLE_CLIENT_ID=your-google-client-id
RAZORPAY_KEY_ID=your-razorpay-key
RAZORPAY_KEY_SECRET=your-razorpay-secret
EC2_PUBLIC_IP=
DOMAIN_NAME=
FRONTEND_URL=http://localhost:5173